* {
	font-family: Verdana, Ubuntu Mono, Consolas;
	font-size: 20px;
}

body {
	background: url('mobiles.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

table {
	background: ghostwhite;
	margin-top: 40px;
	border-radius: 5px;
	border: 1px solid grey;
	box-shadow: 0px 1px 9px;
	padding: 20px;
}

th, td {
	padding: 5px 10px;
}

input[type=text].txt-rtl {
	text-align: right;
}